// Base Colors
$primary-color: #0e232e;
$secondary-color: #19aeff;
$complimentary-color: #fff;
$body-bg: #fff;
$body-font-color: #111;

// Links
$link-color: darken($body-font-color, 25%);
$link-hover-color: $body-font-color;
$link-visited-color: $link-color;

// Text
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 1.0em;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

// Primary Navbar Settings
$navbar-height: 48px;
$navbar-color: $primary-color;
$navbar-text-color: $secondary-color;
$navbar-hover-color: $complimentary-color;
$navbar-active-color: darken($complimentary-color, 75%);
$navbar-font-size: 14px;
$navbar-font-family: "Open Sans", Helvetica, Arial, sans-serif;

// Socials Navbar Settings
$socials-font-color: $secondary-color;
$socials-font-size: 1.5em;

// Utility
$spacing-unit: 30px;

// Footer
$footer-height: 48px;
$footer-color: lighten($primary-color, 15%);
